<h1>Add a New Feed</h1>

<%= turbo_frame_tag "add_feed" do %>
  <%= form_with model: @feed, local: true, data: {turbo: false} do |form| %>
    <%= form.label :url %>
    <%= form.text_field :url %>
    <%= form.submit 'Add Feed' %>
  <% end %>
<% end %>