<header>
  <nav>
  <%= link_to root_path, class: "logo" do %>
    <%= image_tag("dora.png", alt: "Project Dora", class: "logo-image") %>
  <% end %>
  
    <div class="navlinks">
      <% unless logged_in? %>
        <%= link_to "signup", new_user_path %>
        <%= link_to "login", new_session_path %>
      <% end %>

      <% if logged_in? %>
        <%= link_to "Hello #{current_user.username}", "#" %>
        <%= link_to "submit a link", new_link_path %>
        <%= link_to "logout", logout_path %>
      <% end %>
    </div>
  </nav>
</header>
